@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
  background-color: rgb(250, 249, 249);
}

.costum-img {
  /* background-image: url("https://images.unsplash.com/photo-1492691527719-9d1e07e534b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80"); */
  background-image: url("../public/bg.jpg");
}

.costum-button {
  transition: 0.5s;
}

.costum-button:hover {
  transform: scale(1.1);
  background-color: green;
}
